@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #eff6e0;
  --foreground: #01161e;
  --card: #eff6e0;
  --card-foreground: #01161e;
  --popover: #eff6e0;
  --popover-foreground: #01161e;
  --primary: #124559;
  --primary-foreground: #eff6e0;
  --secondary: #aec3b0;
  --secondary-foreground: #01161e;
  --muted: #aec3b0;
  --muted-foreground: #598392;
  --accent: #124559;
  --accent-foreground: #eff6e0;
  --destructive: #598392;
  --destructive-foreground: #eff6e0;
  --border: #aec3b0;
  --input: #aec3b0;
  --ring: #124559;
  --chart-1: #124559;
  --chart-2: #598392;
  --chart-3: #aec3b0;
  --chart-4: #01161e;
  --chart-5: #eff6e0;
  --radius: 0.5rem;
  --sidebar: #eff6e0;
  --sidebar-foreground: #01161e;
  --sidebar-primary: #124559;
  --sidebar-primary-foreground: #eff6e0;
  --sidebar-accent: #aec3b0;
  --sidebar-accent-foreground: #01161e;
  --sidebar-border: #aec3b0;
  --sidebar-ring: #124559;
}

.dark {
  --background: #01161e;
  --foreground: #eff6e0;
  --card: #124559;
  --card-foreground: #eff6e0;
  --popover: #124559;
  --popover-foreground: #eff6e0;
  --primary: #598392;
  --primary-foreground: #01161e;
  --secondary: #aec3b0;
  --secondary-foreground: #eff6e0;
  --muted: #aec3b0;
  --muted-foreground: #598392;
  --accent: #598392;
  --accent-foreground: #01161e;
  --destructive: #124559;
  --destructive-foreground: #eff6e0;
  --border: #598392;
  --input: #598392;
  --ring: #598392;
  --chart-1: #124559;
  --chart-2: #598392;
  --chart-3: #aec3b0;
  --chart-4: #01161e;
  --chart-5: #eff6e0;
  --sidebar: #124559;
  --sidebar-foreground: #eff6e0;
  --sidebar-primary: #598392;
  --sidebar-primary-foreground: #01161e;
  --sidebar-accent: #aec3b0;
  --sidebar-accent-foreground: #eff6e0;
  --sidebar-border: #598392;
  --sidebar-ring: #598392;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
